@dexcalibur:registry=https://gitlab.reversense.org/api/v4/packages/npm
@reversense:registry=https://npm.pkg.github.com

//gitlab.reversense.org/api/v4/packages/npm/:_authToken="$NPM_TOKEN"
//gitlab.reversense.org/api/v4/projects/46/packages/npm/:_authToken="$NPM_TOKEN"
//npm.pkg.github.com/:_authToken="$GITHUB_TOKEN"